.search {
  background-color: aliceblue;
  padding: 2rem 1rem;
  max-width: 85%;
  margin: auto;
}

.search > .search__title {
  font-size: 0.9rem;
  font-weight: bold;
}

.search > .search__form {
  margin-top: 1rem;
}

.search > .search__form .form-group {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.search > .search__form .form-group input {
  font-size: 0.8rem;
}

/****************************** RESPONSIVE DESIGN *******************************/
@media (min-width: 576px) {
  .search {
    max-width: 100%;
  }
}
