.NewAdvert {
    display:flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;

}

input{
    border-bottom: rgb(145, 144, 144) solid; 
    margin-bottom: 0.5rem;
}