.navbar {
  padding: 1rem;
  color: white;
}

.navbar .navbar__title {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  color: white;
}

.navbar .navbar__title:hover {
  transform: scale(1.1);
}
