.home__adverts--list-item-content {
  height: auto;
  color: black;
}

.home__adverts--list-item-content > .advert__img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.home__adverts--list-item-content > .advert__info {
  padding: 1.125rem;
  width: 100%;
  position: relative;
}

.home__adverts--list-item-content > .advert__info > .advert__price,
.home__adverts--list-item-content > .advert__info > .advert__name,
.home__adverts--list-item-content > .advert__info > .advert__description {
  text-align: start;
}

.home__adverts--list-item-content > .advert__info > .advert__price {
  font-size: 1.5rem;
}

.home__adverts--list-item-content > .advert__info > .advert__name {
  font-size: 1.125rem;
}

.home__adverts--list-item-content > .advert__info > .advert__description {
  font-size: 0.8rem;
}

.advert__icon {
  position: absolute;
  top: 0;
  color: black;
  font-size: 1.75rem;
  right: 0;
  margin: 1rem;
  transition: all 300ms ease-in-out;
}

.advert__icon:hover {
  color: red;
}

/****************************** RESPONSIVE DESIGN *******************************/
@media (min-width: 576px) {
  .home__adverts--list-item-content {
    height: 350px;
  }
}
